{% extends  'base.html' %}

{% block title %}
Добавить поисковую переменную
{% endblock %}

{% block connection %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/database_manager/database_manager.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="header-bar">
        <h1>Создать SQL-переменную</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Название:</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.sql.errors }}
            <label id="label_sql" for="{{ form.sql.id_for_label }}">Название в таблице SQL:</label>
            {{ form.sql }}
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}

{% block script %}

<script language="JavaScript">
</script>

{% endblock %}