{% extends 'base.html' %}

{% block title %}
Справка
{% endblock %}

{% block content %}
<div class="main">    
    <h1>Справка</h1>
    <p>Веб-сервис предназначен для разработки шаблонов документов и использования их для создания документов Microsoft Word. Веб-сервис может брать данные из базы данных организации, для этого необходимо системному администратору предварительно настроить подключение к базе данных.</p>
    <p>Документ состоит из элементов нескольких типов:</p>
    <ul>
        <li>Текст - представляет из себя элемент, содержащий в себе текст и определённый стиль оформления. Каждый текст может быть оформлен в своём стиле и является обособленным от других.</li>
        <li>Параграф - представляет из себя элемент, содержащий в себе множество других элементов, в основном текстов.</li>
        <li>Переменная - является текстом, который берёт в себя данные из базы данных.</li>
    </ul>
    <h2>Создание элементов</h2>
    <p>Чтобы создать параграф нажмите на кнопку с иконкой <i class="fa-solid fa-plus"></i></p>
    <p>Чтобы создать текст нажмите на кнопку с иконкой <i class="fa-solid fa-square-plus"></i></p>
    <p>Чтобы создать переменную вам нужно перейти в специальное меню работы с переменными. В этом меню вы можете заполнить переменные организации для поиска или создать свою переменную для данного документа. Чтобы отобразить переменную в документе вам нужно создать текст, после нажать на поле ввода выше документа и выбрать нужную переменную из списка либо найти её при помощи поиска.</p>
    <h2>Горячие клавиши при работе с документом</h2>
    <div>
        <h3>При наборе текста:</h3>
        <p>Добавить новый абзац: <span class="SpanButton">Enter</span></p>
        <p>Добавить новый текст: <span class="SpanButton">Shift + Пробел</span></p>
        <p>Переключаться между текстовыми элементами: <span class="SpanButton">Ctrl + Стрелочки</span></p>
        <p>Удаление элемента: <span class="SpanButton">Delete</span></p>
    </div>
</div>
{% endblock %}

