# Settings to add to C:/Apache24/conf/httpd.conf
# update as needed

#
# ServerName gives the name and port that the server uses to identify itself.
# This can often be determined automatically, but we recommend you specify
# it explicitly to prevent problems during startup.
#
# If your host doesn't have a registered DNS name, enter its IP address here.
#
# ServerName localhost:80 # use this if you're running this on a VirtualBox VM or PC
ServerName 10.104.224.133:8081


# Django Project
LoadFile "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/venv/Scripts/python38.dll"
LoadModule wsgi_module "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/venv/lib/site-packages/mod_wsgi/server/mod_wsgi.cp38-win_amd64.pyd"
WSGIPythonHome "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/venv"
WSGIScriptAlias / "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/taskmanager/taskmanager/wsgi.py"
WSGIPythonPath "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/taskmanager"

<Directory "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/taskmanager/taskmanager/">
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

Alias /static "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/taskmanager/static/"
<Directory "C:/Users/04ap.bdugarov/PycharmProjects/Diplom/taskmanager/static/">
    Require all granted
</Directory>
