{% extends  'base.html' %}

{% block title %}
{{ profile }}
{% endblock %}

{% block connection %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_manager/profile.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="header-bar">
        <h1>Профиль</h1>
    </div>
    <div>
        <img id="profile_img" src="{% if profile.profile_pic %}{{ profile.profile_pic.url }}{% endif %}">
        
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.profile_pic.errors }}
            <label for="{{ form.profile_pic.id_for_label }}">Изображение профиля:</label>
            {{ form.profile_pic }}
        </div>
        <div class="fieldWrapper">
            {{ form.firstName.errors }}
            <label for="{{ form.firstName.id_for_label }}">Фамилия:</label>
            {{ form.firstName }}
        </div>
        <div class="fieldWrapper">
            {{ form.lastName.errors }}
            <label for="{{ form.lastName.id_for_label }}">Имя:</label>
            {{ form.lastName }}
        </div>
        <div class="fieldWrapper">
            {{ form.middleName.errors }}
            <label for="{{ form.middleName.id_for_label }}">Отчество:</label>
            {{ form.middleName }}
        </div>
        <div class="fieldWrapper">
            {{ form.organisation.errors }}
            <label for="{{ form.organisation.id_for_label }}">Организация:</label>
            {{ form.organisation }}
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}

{% block script %}

<script language="JavaScript">

    function FillForm(str){
        var str_splitted = str.split(';');
        firstName.value = str_splitted[0];
        lastName.value = str_splitted[1];
        middleName.value = str_splitted[2];
        id_organisation.querySelector('option[value="'+ str_splitted[3] +'"]').selected = true;
    }
    FillForm("{{ profile.firstName }};{{ profile.lastName }};{{ profile.middleName }};{{ profile.organisation.id }};")
    
    $('#id_organisation').selectize();
</script>

{% endblock %}