:root{
    --color-primary: #F2F2F2;
    --color-third: #dcd9d9;
    --color-secondary:#97c0ff;
    --color-accent: #6f95ff;
    --color-document: #ffffff;

    --document-size: 790.6px;
    --button-menu-width: 25px;
}

#modal_variable{
    max-width: 600px;
}

.btn_menu{
    max-width: var(--button-menu-width);
}

#menu{
    display: flex;
    margin: auto;
    text-align: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#menu .vr{
    margin-right: 10px;
    margin-left: 10px;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background-color: var(--color-primary);
}

#menu a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.paragraph{
    min-height: 30px;
    background-color: var(--color-document);
	max-width: 100%;
	padding: 10px;
}

.paragraph:hover{
    background-color: rgb(220, 220, 220);
}

.main{
    display: flex;
    flex-direction: row;
}

#leftMenu{
    height: 100%;
	display:flex;
	flex-direction: column;
	position: sticky;
	top: 135px;
	background-color: var(--color-secondary);
	padding: 10px;
    margin-left: 10px;
}

#leftMenu button{
    width: 100%;
    height: 60px;
}

#leftMenu .list-container{
    margin-top: 15px;
    border-radius: 5px;
}


#document_main{
    height: 100%;
	min-width: var(--document-size);
    max-width: var(--document-size);
	display:flex;
	flex-direction: column;
	background-color: var(--color-document);
	margin-left: 30px;
	margin-top: 5px;
	padding-top: 80px;
	padding-left: 100px;
    padding-right: 50px;
}

#save_complete{
    display: none;
    align-items: center;
}

#selectedElement{
    max-width: 50px;
    display: none;
}

#fontSizeElement{
    max-width: 60px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

#span_value{
    min-width: var(--document-size);
    max-width: var(--document-size);
    margin-left: 30px;
    position: sticky;
	top: 135px;
}

.runs{
    color: black;
}

.selected{
    border: 1px solid rgb(170, 170, 170);
}

td{
	border: 1px solid black;
}

td.paragraph{
	width: 100%;
}


#TopMenu{
	position: sticky; 
	top: 20px;
	padding: 10px;
	z-index: 15;
}

#DropDownFont{
	width:300px;
	text-align: left;
}

#ButtonDropDownFont{
	width:100%;
	text-align: right;
}

#DropDownFont ul{
	width: 300px;
	max-height: 300px;
	overflow: auto;
}

#list_saved{
    min-height: 200px;
    max-height: 200px;
    background-color: white;
}

#list_saved_sp{
    max-height: 200px;
    max-width: 250px;
    min-width: 250px;
    overflow-y: scroll;
}

.list_saved_element{
    max-width: 232px;
    max-height: 30px;
    min-height: 30px;
    min-width: 232px;
}

.list_saved_element_label{
    font-size: 10px;
}

#table_oknapolya{
    overflow: auto;
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 5px;
}

.dropped{
    border: 1px dashed red;
}

.dragged{
    border: 1px dashed green;
}

#buttonMenu{
    display: flex;
    flex-direction: row;
}

.savedElement_container{
    display: flex;
    flex-direction: row;
    max-height: 15px;
}

.savedElement_btns{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 93%;
}

#doc_name{
    font-size: 20px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#instruments_menu{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#doc_name_container{
    display: flex;
    align-items: center;
}

#font_select{
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    max-width: 100px;
}

#document_tree{
    min-width: 350px;
    margin-left: 20px;
    padding: 15px;
    background-color: var(--color-secondary);
}

#tree_paragraph{
    background-color: var(--color-primary);
    padding:20px;
    max-height: 400px;
    overflow: auto;
}

.tree_element{
    min-width: 200px;
    padding: 10px;
    z-index: 10;
}

.tree_element:hover{
    background-color: var(--color-third);
}

.tree_element_label{
    margin-left:10px;
}

.tree_element_run{
    z-index: 15;
    padding: 5px;
}

.tree_element_run:hover{
    background-color: var(--color-accent);
}

.run_tree_list{
    margin-top: 5px;
}

#variable_error_message{
    color: red;
}