:root{
    --color-primary: #F2F2F2;
    --color-third: #dcd9d9;
    --color-secondary:#b2c0d4;
    --color-accent: #a5bcfc;
    --color-document: #ffffff;

    --document-size: 790.6px;
    --button-menu-width: 25px;
}

#modal_variable{
    max-width: 600px;
}

span{
    padding:3px;
}

.btn_menu{
    max-width: var(--button-menu-width);
}

#menu{
    display: flex;
    margin: auto;
    text-align: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#menu .vr{
    margin-right: 10px;
    margin-left: 10px;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background-color: var(--color-primary);
}

#menu a {
  text-decoration: none;
  outline: none;
  transition: .3s ease-in-out;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.paragraph{
    min-height: 30px;
    background-color: var(--color-document);
	max-width: 100%;
	padding: 10px;
    line-height: 1;
    text-indent: 0cm;
    position: relative;
}

.paragraph:hover{
    background-color: rgb(220, 220, 220);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftMenu{
    height: 100%;
	display:flex;
	flex-direction: column;
	position: sticky;
	top: 135px;
	background-color: var(--color-secondary);
	padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

#leftMenu > *{
    margin-top: 10px;
}

#leftMenu button{
    width: 100%;
    height: 60px;
}

#leftMenu .list-container{
    margin-top: 15px;
    border-radius: 5px;
}


#document_main{
    height: 100%;
	min-width: var(--document-size);
    max-width: var(--document-size);
	display:flex;
	flex-direction: column;
	background-color: var(--color-document);
	margin-left: 30px;
	margin-top: 5px;
	padding-top: 80px;
	padding-left: 100px;
    padding-right: 50px;
}

#save_complete{
    display: none;
    align-items: center;
}

#selectedElement{
    max-width: 50px;
    display: none;
}

#span_value{
    min-width: var(--document-size);
    max-width: var(--document-size);
    margin-left: 30px;
    position: sticky;
	top: 135px;
}

.runs{
    color: black;
}

td{
	border: 1px solid black;
}

td.paragraph{
	width: 100%;
}


#TopMenu{
	position: sticky; 
	top: 20px;
	padding: 10px;
	z-index: 15;
}

#DropDownFont{
	width:300px;
	text-align: left;
}

#ButtonDropDownFont{
	width:100%;
	text-align: right;
}

#DropDownFont ul{
	width: 300px;
	max-height: 300px;
	overflow: auto;
}

#list_saved{
    min-height: 200px;
    max-height: 200px;
    background-color: white;
}

#list_saved_sp{
    max-height: 200px;
    max-width: 250px;
    min-width: 250px;
    overflow-y: scroll;
}

.list_saved_element{
    max-width: 232px;
    max-height: 30px;
    min-height: 30px;
    min-width: 232px;
}

.list_saved_element_label{
    font-size: 10px;
}

#table_oknapolya{
    overflow: auto;
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 5px;
}

.dropped{
    border: 1px dashed red;
}

.dragged{
    border: 1px dashed green;
}

#buttonMenu{
    display: flex;
    flex-direction: row;
}

.savedElement_container{
    display: flex;
    flex-direction: row;
    max-height: 15px;
}

.savedElement_btns{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 93%;
}

#doc_name{
    font-size: 20px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#instruments_menu{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#doc_name_container{
    display: flex;
    align-items: center;
}

#font_select{
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    max-width: 100px;
}

#rightMenu{
    min-width: 350px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 15px;
    background-color: var(--color-secondary);
    border-radius: 15px;
    position: sticky;
	top: 135px;
    height: 100%;
}

#rightMenu ul{
    border-radius: 15px;
}

#tree_paragraph{
    background-color: var(--color-primary);
    padding:20px;
    max-height: 400px;
    overflow: auto;
}

.tree_element{
    min-width: 200px;
    padding: 10px;
    z-index: 10;
    margin-bottom: 10px;
    border-radius: 15px;
}

.tree_element_label{
    margin-left:10px;
}

.tree_element_label + ul{
    margin-top: 10px;
}


#variable_error_message{
    color: red;
}

#firstIndentDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#intervalDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputNumberMenu{
    max-width: 40px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    padding: 5px 5px;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

.inputButtons{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1px;
}

.inputNumber{
    display: flex;
    flex-direction: row;
    margin-right: 3px;
}

.inputNumber:hover > .inputButtons{
    display: flex;
}

.inputButton{
    display: flex;
    width: 10px;
    height: 10px;
    padding: 0px;
    align-items: center;
}

#context_menu{
    display:none;
    position: absolute;
    z-index: 1000;
}

#modal_radioGroup_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.ulContainerRadioGroup{
    min-height: 100px;
}

.containerTextColorRadioGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#rightRadioMenu{
    overflow: auto;
    background-color: var(--color-secondary);
    padding: 0px;
    height: 510px;
}

#leftRadioMenu{
    overflow: auto;
    padding: 0px;
    margin-right: 50px;
    height: 510px;
}

#modal_radioGroup_body ul{
    border-radius: 5px;
}

.TreeElementInModalList{
    margin: 3px 10px 3px 10px;
    border-radius: 5px;
    max-width: 200px;
}

#modal_radioGroup_treeElements_list{
    height: 500px;
}

#modal_radioGroup_list{
    height: 500px;
}

#modal_radioGroup_list > li{
    margin-top: 7px;
    border-radius: 5px;
}

#document_tree{
    overflow: auto;
    height: 500px;
    background-color: var(--color-secondary);
    padding:10px;
}

::-webkit-scrollbar {
    width: 10px;
    margin-left: 6px;
}
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;  
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, var(--color-secondary), var(--color-accent));
}

#errorWindowModal{
    top: 100px;
}

.selectedParagraph{
    border: 1px dashed gray;
}

.selectedRun{
    background-color: #a5bcfc;
}

#context_add_menu{
    position: absolute;
    top:80%;
    left:25%;
    z-index: 1000;
}

#context_add_menu div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 150px;

    border-radius: 15px;
}


.paragraph.docelementNotHidden[hidden]{
    display: inline!important;
    background-color: rgb(51, 51, 51);
}

.runs.docelementNotHidden[hidden]{
    display: inline!important;
    color: gray;
    text-decoration: line-through;
}