#list_of_document{
    overflow: auto;
}

.doc_in_list{
    margin: 10px;
    max-width: 250px;
    min-width: 250px;
    max-height: 430px;
    min-height: 430px;
    background-color: rgb(255, 215, 154);
}

.doc_image{
    min-height: 250px;
    max-height: 250px;
}

.btns_container{
    display: flex;
    flex-direction: row;
}

.doc_del_button{
    position: absolute;
    left:82%;
}